.counterButton{
    background-color: red;
}
button{
    font-size: 16px;
    width: 100px;
    margin: 20px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 10px;

}
.count{
    font-size: 50px;
    padding: 20px;
}
.totalcount{
    color: #00a5ab;
    font-size: 150px;

}
.resetButton{
    background-color: #00a5ab;
}